#carousel-landing {
	.carousel-inner {
		.carousel-item {
			.carousel-caption {
				margin-bottom: 300px;
				h2 {
					font-style: normal;
					font-weight: 700;
					font-size: 50px;
					line-height: 75px;
					text-align: center;

					color: #ffffff;

					span {
						color: #fdebba;
					}
				}
				p {
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 27px;
				}
				button {
					width: 209px;
					height: 69px;
					background: #ffcc48;
					box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
					border-radius: 12px;
					border: 0px;
				}
			}
		}
	}
}
