#question-page {
  background-color: #006a7a;
  .container {
    padding-top: 50px;
    height: 850px;
    h1 {
      color: white;
      text-align: center;
      padding-bottom: 50px;
    }
    .card {
      border-radius: 30px;
      padding-bottom: 20px;
      .card-tittle {
        padding-left: 30px;
        padding-top: 20px;
      }
      .card-text {
        margin: 30px 30px 30px 30px;
      }
      button {
        width: 800px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
      }
    }
  }
}
