#footer {
  background-color: #006a7a;
  font-family: "Poppins, sans-serif";

  .main-content {
    height: auto;
  }

  .double-logo {
    display: flex;
    justify-content: flex-start;
  }

  .pages-link {
    text-decoration: none;
    color: white;
  }

  .copyright {
    h5 {
      font-size: 16px;
    }
  }
}
