#navbar-landing {
	background-color: #006a7a;

	.right-content {
		.login {
			width: 105px;
			height: 50px;

			background: #ffffff;
			border: 0px;
			box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
			border-radius: 12px;
			margin-left: 20px;
		}
		.signup {
			width: 105px;
			height: 50px;

			background: #ffcc48;
			border: 0px;
			box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
			border-radius: 12px;
		}
	}
}
