.update,
.delete {
	background-color: #ffcc48;
	width: 100px;
	height: 50px;
	border: 0px;
	border-radius: 10px;
}

#dashboard-pages {
	background-color: #006a7a;
	height: auto;
	padding-bottom: 500px;

	h1 {
		text-align: center;
		color: white;
		background-color: #006a7a;
		font-weight: 700;
		font-size: 40px;
		line-height: 75px;
	}

	.card {
		width: 150px;
		height: 50px;
	}

	.button-create {
		width: 150px;
		height: 50px;
		float: right;
	}

	.table {
		text-align: center;
		background-color: white;
		border-radius: 10px;
		border: 0px;

		.table-body,
		tr,
		td {
			border: 0px;
		}
	}
}
