.update,
.delete {
	background-color: #ffcc48;
	width: 100px;
	height: 50px;
	border: 0px;
	border-radius: 10px;
}

#dashboard-pages {
	background-color: #006a7a;
	height: 100vh;

	h1 {
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 40px;
		line-height: 75px;
	}

	.card {
		width: 150px;
		height: 50px;
	}

	.button-create {
		width: 150px;
		height: 50px;
		float: right;
	}

	.table {
		text-align: center;
		background-color: white;
		border-radius: 10px;
		border: 0px;

		.table-body,
		tr,
		td {
			border: 0px;
		}
	}

	// .profile-name {
	//   h1 {
	//     text-align: center;
	//     color: white;
	//     font-weight: 700;
	//     font-size: 40px;
	//     line-height: 75px;
	//   }
	// }
	// .card-main {
	//   margin-top: 80px;
	//   .card-body {
	//     .button-1 {
	//       background: #006a7a;
	//       margin: 0px 350px 0px 0px;
	//       color: white;
	//     }
	//     button {
	//       margin: 0px 0px 0px 350px;
	//       flex-direction: row;
	//       width: 250px;
	//       height: 50px;
	//       background: #ffcc48;
	//       box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
	//       border-radius: 12px;
	//       border: 0px;
	//       color: black;
	//       font-weight: bold;
	//       font-size: 24px;
	//     }
	//     .card-question {
	//       text-align: center;
	//     }
	//     .question-text {
	//       text-align: justify;
	//       font-size: 18px;
	//       font-weight: 400px;
	//     }
	//     .button-update {
	//       margin: 0px 0px 0px 65px;
	//       button {
	//         width: 120px;
	//         height: 50px;
	//         font-weight: 400px;
	//         font-size: 18px;
	//         color: black;
	//       }
	//     }
	//     .button-update2 {
	//       margin: 0px 0px 0px 65px;
	//       button {
	//         margin-top: 40px;
	//         width: 120px;
	//         height: 50px;
	//         font-weight: 400px;
	//         font-size: 18px;
	//         color: black;
	//       }
	//     }
	//     .button-delete {
	//       button {
	//         width: 120px;
	//         height: 50px;
	//         font-weight: 400px;
	//         font-size: 18px;
	//         color: black;
	//       }
	//     }
	//     .button-delete2 {
	//       button {
	//         margin-top: 40px;
	//         width: 120px;
	//         height: 50px;
	//         font-weight: 400px;
	//         font-size: 18px;
	//         color: black;
	//       }
	//     }
	//   }
	// }
}
